html {
    scroll-behavior: smooth;
}
* {
    text-decoration: none;
}
body {
    margin: 0;
    min-width: 1200px;
    background-color: rgb(220, 220, 220);
}
#sticky-header {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    background-color: rgb(70, 70, 70);
    border-bottom: 1px solid black;
    padding: 10px;
}
nav {
    margin: 0;
}
.flexbox-container-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
}
#logo-area {
    margin: 0 0 -4px 0;
}
#logo-header {
    padding: 0;
    width: 50px;
    height: 50px;
}
#links-area {
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav div ul li a { 
    margin: 0 50px 0 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
nav div ul li a:hover {
    color: rgb(253, 35, 0);
} 
.padding-transparent {
    padding: 69px 0 0 0;
}
#hero-image-container {
    background-image: url('https://elijah-dungan.github.io/imagebucket/bus-mall-heroine-darker.jpg'); 
    height: 500px;
    min-width: 1200px;
    background-size: cover;
    margin: 0; 
}
#overlay-container {
    width: 1200px;
    margin: 0 auto;
}
main {
    margin: 0 auto 0 auto;
    width: 960px;
    box-shadow: 
    0 2px 15px rgb(0, 0, 0, 0.40);
}
#logo {
    margin: -10px 0 0 -10px;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 999;
}
h2 {
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#votes-left {
    margin: 0;
    padding: 27px 0 0 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
#results {
    margin: 0;
    padding: 27px 0 0 0;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
.placeholder-1{
    width: 50px;
}
.placeholder-2{
    width: 100px;
}
#image-container {
    background-image: radial-gradient(ellipse, rgb(119, 138, 149) 25%, rgb(79, 98, 109));
    padding: 10px 10px 25px 10px;
}
fieldset {
    border: none;
}
.flexbox-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexbox-container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 10px;
}
.flexbox-container-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-container {
    padding: 10px;
}
.product-container img {
    margin: 0 0 -10px 0;
    width: 275px;
    height: 200px; 
    padding: 5px;
    background-color: white;
    object-fit: cover;
    transition: 500ms;
    box-shadow: 
    0 6px 4px rgb(0, 0, 0, 0.40);
}
.image-container-large {
    padding: 0 0 0 8px; /* offset due to default myChart margins. use in conjunct with .results-area */
}
#image-large {
    width: 520px;
    height: 378.18px; 
    padding: 7px;
    background-color: white;
    object-fit: cover;
    transition: 500ms;
    box-shadow: 
    -2px 17px 5px rgba(0, 0, 0, 0.23);
    
}
/* .about-container {
    margin: 0;
    padding: 0 0 10px 10px;
} */
#title {
    margin: 0;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
#slashed-price {
    margin: 0 10px;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
#sale-price {
    margin: 0 10px;
    color: rgb(253, 35, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
#text-description {
    width: auto;
    height: auto; 
    padding: 10px 0 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
#cart {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: rgb(253, 35, 0);
    font-size: 1em;
    font-weight: bold;
    color: white;
    transition: 500ms;
}
#cart:hover {
    background-color: rgb(253, 140, 140);
    transition: 250ms;
}
.radio-container {
    padding: 15px 0 10px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.radio-vote {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
.label {
    margin: 3.75px 0 0 5px;
}
.button-area {
    margin: 0 auto 0 auto;
    width: 100%;
    text-align: center;
}
#submit {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-color: rgb(253, 35, 0);
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    transition: 500ms;
}
#submit:hover {
    background-color: rgb(253, 140, 140);
    transition: 250ms;
}
.results-area {
    height: 448px;
    width: auto;
    padding: 10px 32px 10px 24px; /* offset due to default myChart margins. use in conjunct with .image-container-large */
    background-color: rgb(240, 240, 240);
    text-align: center;
}
#myChart {
    height: 382px;
    width: auto;
    margin: 0 auto;
}
#vote-list {
    margin: 15px auto;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
#vote-list li{
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 10px;
}
footer {
    border-top: 1px solid rgb(100, 100, 100);
    background-color: rgb(70, 70, 70);
    width: auto;
    min-height: 150px;
    min-width: 1200px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}
#follow-us {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(100, 100, 100);
    background-color: rgb(70, 70, 70);
    padding: 25px 0 15px 0;
}
.footer-h {
    width: 92px;
    padding: 0 0 10px 0;
    border-bottom: 1.5px solid rgb(253, 35, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.9px;
    font-weight: bold;
}
#social-media img {
    margin: 0;
    padding: 23px 20px 5px 0;
    width: auto;
    height: 25px;
}
#copyright {
    padding: 25px 0 25px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    background-color: rgb(70, 70, 70);
    text-align: center;
}