html {
    scroll-behavior: smooth;
}
* {
    text-decoration: none;
}
body {
    margin: 0;
    min-width: 1200px;
    background-color: rgb(220, 220, 220);
}
#sticky-header {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    background-color: rgb(70, 70, 70);
    border-bottom: 1px solid black;
}
nav {
    margin: 0;
    padding: 11px 10px 10px 10px;
}
.flexbox-container-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
}
#logo-area {
    margin: 0 0 -4px 0;
}
#logo-header {
    padding: 0;
    width: 50px;
    height: 50px;
}
#links-area {
    margin: 0;
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav div ul li a { 
    margin: 0 50px 0 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
nav div ul li a:hover {
    color: rgb(253, 35, 0);
} 
.padding-transparent {
    padding: 70px 0 0 0;
}
#hero-image-container {
    background-image: url('https://elijah-dungan.github.io/imagebucket/bus-mall-heroine-darker.jpg'); 
    height: 500px;
    min-width: 1200px;
    /* background-attachment: fixed;  */
    background-size: cover;
    margin: 0; 
}
#overlay-container {
    width: 1200px;
    margin: 0 auto;
}
/* #overlay-container img {
    opacity: 0.90;
} */
main {
    margin: 0 auto 0 auto;
    /* border-radius: 10px; */
    width: 960px;
    box-shadow: 
    0 2px 15px rgb(0, 0, 0, 0.40);
}
/* form {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */
#logo {
    /* border-top-left-radius: 10px; */
    margin: -10px 0 0 -10px;
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 999;
}
h2 {
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#results {
    margin: 0;
    padding: 35px 0 0 0;
    color: rgb(70, 70, 70);
}
.placeholder-1{
    width: 50px;
}
.placeholder-2{
    width: 100px;
}
#image-container {
    background-image: radial-gradient(ellipse, rgb(119, 138, 149) 25%, rgb(79, 98, 109));
    padding: 10px 10px 10px 10px;
}
fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
.flexbox-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexbox-container-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-container {
    padding: 10px;
}
.product-container img {
    margin: 0 0 -10px 0;
    width: 275px;
    height: 200px; 
    padding: 5px;
    background-color: white;
    object-fit: cover;
    transition: 500ms;
    box-shadow: 
    0 6px 4px rgb(0, 0, 0, 0.40);
}
.radio-container {
    padding: 15px 0 10px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.radio-vote {
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
}
.label {
    margin: 3.75px 0 0 5px;
}
.button-area {
    margin: 0 auto 15px auto;
    width: 100%;
    text-align: center;
}
#submit {
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: rgb(253, 35, 0);
    font-size: 1.5em;
    color: white;
    transition: 500ms;
}
#submit:hover {
    background-color: white;
    color: rgb(70, 70, 70);
    transition: 500ms;
}
.results-area {
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    height: 415px;
    background-color: rgb(240, 240, 240);
}
#vote-list {
    margin: 15px auto;
    color: rgb(70, 70, 70);
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
}
#vote-list li{
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 10px;
}
footer {
    border-top: 1px solid rgb(100, 100, 100);
    background-color: rgb(70, 70, 70);
    width: auto;
    min-height: 150px;
    min-width: 1200px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: white;
}
#follow-us {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(100, 100, 100);
    background-color: rgb(70, 70, 70);
    padding: 5px 0 15px 0;
}
.footer-h {
    width: 90px;
    padding: 0 0 10px 0;
    border-bottom: 1.5px solid rgb(253, 35, 0);
}
#social-media img {
    margin: 0;
    padding: 5px 20px 5px 0;
    width: 25px;
    height: 25px;
}
#copyright {
    padding: 10px;
    font-size: 0.8em;
    background-color: rgb(70, 70, 70);
    text-align: center;
}